/*HOME cONTENT*/
.contentHomeCenter1{
	background-image: url("http://sophiasolution.com/img/header.jpg");
    background-position:center;
	margin-top: 25px!important;
	border-bottom: 5px solid #FF6600;
}
.lableFooterTop{
	margin: auto;
	height: 150px;
	margin-top: 25px;
	text-align: center;
}
.lableFooterPartHome{
	margin-left: 10px;
	margin-top: 10px;
	padding-left: 5px;
	color: #FF6600;
	-webkit-animation: my 7190ms infinite;
	-moz-animation: my 1150ms infinite; 
	-o-animation: my 1110ms infinite; 
	animation: my 1150ms infinite;
}

/* Body Content Style */
.bodyHomeContentCol, .fooderHomeSite{
	width: 99%;
	margin: 5px auto!important;
	background-color: #FFFFFF;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 10px;
}
.bodyHomeContentCol .itemLinkPartHome{
	text-align: center;
	cursor: pointer;
	margin-left: 10px;
	margin-top: 30px;
	padding-left: 5px;
	font-weight: bold;
	-webkit-animation: my 1150ms infinite;
	-moz-animation: my 1110ms infinite; 
	-o-animation: my 1000ms infinite; 
	animation: my 1150ms infinite;
}
.bodyHomeContentCol .itemLinkPartHome:hover{
	text-decoration: underline;
	cursor: pointer;
}
.midFooterContent{
	padding-left: 10px;
}

/* Làm chữ nhấp nháy */
@-webkit-keyframes my {
	 0% { color: #990099; } 
	 50% { color: #FF6600;  } 
	 100% { color: #00FF00;  } 
 }
 @-moz-keyframes my { 
	 0% { color: #990099;  } 
	 50% { color: #FF6600;  }
	 100% { color: #00FF00;  } 
 }
 @-o-keyframes my { 
	 0% { color: #990099; } 
	 50% { color: #FF6600; } 
	 100% { color: #00FF00;  } 
 }
 @keyframes my { 
	 0% { color: #FF6600;  }
	 100% { color: #00FF00;  } 
 } 

/* Content Home page 2*/
.contentHomeCenter2{
	width: 100%;
	margin-top: 25px!important;
	border-bottom: 5px solid #FF6600;
}
.titleItemsPageInHome{
	width: auto;
	color: #FF3300;
	font-family: Brush Script MT, Brush Script Std;
	padding: 2px 4px;
	border-bottom: 1px solid #FF6633;
}
.iconTitlePartPage{
	font-size: 18px;
	margin-top: 8px;
	margin-left: 10px;
	margin-right: 10px;
	color: #00FF00!important;
}


/* 1 What Do In Home Page*/
.contentTickItems{
	width: 95%;
	margin: 15px auto;
}
.tickItemWhatDo1{
	color: #FF6600;
}

/* 2. Quy Trình*/
.imgQuyTrinhDA{
	width: 95%;
	margin-top: 15px;
	margin: auto;
	transition-duration: 0.5s;
        /* Safari & Google Chrome */
        -webkit-transition-duration: 0.5s; 
        /* Mozilla Firefox */
        -moz-transition-duration: 0.5s; 
        /* Opera */
        -o-transition-duration: 0.5s;
        /* IE 9 */
        -ms-transition-duration: 0.5s;
}
.imgQuyTrinhDA:hover{
	transform: scale(1.02);
        /* Safari & Google Chrome - kích thước phóng ra*/
        -webkit-transform: scale(1.02);
        /* Mozilla Firefox - kích thước phóng ra*/
        -moz-transform: scale(1.02); 
        /* Opera - kích thước phóng ra*/
        -o-transform: scale(1.02);
        /* IE 9 - kích thước phóng ra*/
        -ms-transform: scale(1.02);
    cursor: pointer; 
    border: 2px solid #000000;
}

/* 3. Ưu điểm của tipocho*/
.textUuDiemTipOcho{
	width: 98%;
	margin: 15px auto!important;
}
.pinOfUuDiem{
	color: #0000FF;
}
.textUuDiemP{
	margin-top: 10px;
	color: #FF6600;
}

/* 4. nhận outsource*/
.wrapTextOutSource{
	width: 95%;
	margin-top: 10px!important;
	margin-left: 10px!important;
}

/* 5. Ưu đãi - quà tặng*/
.wrapContUuDai{
	background: url("https://i.pinimg.com/originals/bd/9b/4e/bd9b4e222885a996ed309a4a50eb1fd8.gif");
}
.itemUuDaih5{
	margin-top: 15px;
	margin-left: 10px;
	color: #0000EE;
}

/* 6 Team Infor*/
.produceTeamInfor{
	width: 95%;
	margin: 15px auto!important;
	color: #0000FF;
}
.wrapMainMemberTeam{
	width: 100%;
	font-weight: bold;
}
.fa-paper-plane{
	font-size: 14px;
	margin: 2px 10px;
}
.wrapProfileTeams{
	width: 250px;
	margin: 10px 15px;
	border: 1px solid #BBBBBB;
	margin: 5px auto;
	background-color: #CCFF99;
	color: #0000EE;
	font-size: 14px;
	float: left;
}
.imgProfileTeamInfor{
	width: 85%;
	height: 210px;
	border-radius: 50%;
}
.teaminforNickName{
	font-weight: bold;
	border-top: 1px solid #BBBBBB;
	border-bottom: 1px solid #BBBBBB;
}
.inforTeamItems{
	border-top: 1px solid #BBBBBB;
	border-bottom: 1px solid #BBBBBB;
	overflow: auto;
}
.inforTeamItemsLeft{
	text-align: left;
	width: 30%;
	float: left;
	color: #777777;
}
.inforTeamItemsRight{
	float: left;
	width: 70%;
	text-align: left;
}
.icon-inforTeamProfile{
	margin-top: 0px!important;
	margin-right: 4px!important;
}

/*Responsive*/
@media screen and (max-width: 575px) {
	.lisTopTitleItemsRes{
		text-align: center;
	}
}