.cagetory-collapse {
    padding-left: 10px !important;
    margin: 0 !important;
}

.card-body {
    border: none !important;
}

.card-body p {
    font-weight: 500;
    font-size: 12px;
    margin: 0 !important;
    margin-left: 10px !important;
}

.card-body p a {
    color: black;
}

.title-aside-cagetory {
    font-weight: 500;
    font-size: 15px;
    margin: 0 !important;
    margin-bottom: 5px !important;
}

.title-aside-cagetory a {
    color: black;
}

.card-body p a:hover,
.title-aside-cagetory a:hover {
    text-decoration: none;
    color: rgb(226, 105, 61);
}

.title-aside-cagetory a:focus {
    font-weight: 700;
}

.cagetory-tile {
    background: linear-gradient(to left, rgb(247, 143, 30), rgb(243, 107, 33));
    background: -moz-linear-gradient(to left, rgb(247, 143, 30), rgb(243, 107, 33));
    background: -webkit-linear-gradient(to left, rgb(247, 143, 30), rgb(243, 107, 33));
    background: -o-linear-gradient(to left, rgb(247, 143, 30), rgb(243, 107, 33));
    border-radius: 5px;
}

.cagetory-tile h6 {
    margin: 10px 0 !important;
    color: white;
}

.img-danh-muc-san-pham {
    margin-bottom: 3px;
    width: 20px;
    filter: brightness(200%);
}

.img-seen a img {
    margin-right: 15px;
    border-radius: 3px;
    width: 70px;
}

.seen-cagetory .row {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.details-seen p {
    margin: 0 !important;
}

.details-title {
    color: black;
    font-weight: 500;
}

.details-title:hover {
    color: rgb(226, 105, 61);
    text-decoration: none;
}

.details-title {
    font-size: 15px;
    font-weight: 600;
}

.details-price {
    color: rgb(226, 105, 61);
}

.main-row-aside-cagetory {
    margin: 0 !important;
    background-color: white;
    border-radius: 5px;
}

.title-section-cagetory {
    display: flex;
    height: 35px;
}

.title-section-cagetory h5 {
    width: 94%;
    border: 1px solid;
    border-radius: 5px;
    height: 100%;
    margin-left: 1%;
    padding-top: 4px;
}

.fa-align-justify {
    color: rgb(226, 105, 61);
    background-color: white;
    border-radius: 5px;
    width: 5%;
    height: 100%;
    padding-top: 8px;
}

.wrapper-cagetory {
    padding-top: 20px;
}

.section-cagetory {
    background-color: rgb(242, 242, 242);
}
.wrapTitSP{
    height: 35px; overflow: hidden; width: 100%;
}